Nous allons ici produire la data du test cleaned que nous allons utilisé pour quelques modèles

In [1]:
import pandas as pd
import re
import unicodedata

# Charger le CSV (remplacez 'train_submission.csv' par le chemin réel)
df = pd.read_csv('data/train_submission_preprocessed.csv')


print(df.isnull().sum())

# Afficher un aperçu
print(df.head())

def clean_text(text):
    # Supprimer les URLs
    text = re.sub(r'http\S+', '', text)
    # Supprimer les mentions (@user) et hashtags (#mot)
    text = re.sub(r'[@#]\w+', '', text)
    # Normalisation Unicode (NFC)
    text = unicodedata.normalize('NFC', text)
    # Passage en minuscules
    text = text.lower()
    # Optionnel : supprimer la ponctuation (gardez à l'esprit que certains signes peuvent être utiles)
    text = re.sub(r'[^\w\s]', '', text)
    # Supprimer les espaces multiples
    text = re.sub(r'\s+', ' ', text).strip()
    return text

# Appliquer le nettoyage sur la colonne contenant le texte (par exemple 'text')
df['Text'] = df['Text'].apply(clean_text)

# Sauvegarder le CSV nettoyé 
df.to_csv('data/train_submission_cleaned.csv', index=False)

# Afficher un aperçu des données nettoyées
df[['Text']].head()

Text     0
Label    0
dtype: int64
                                                Text Label
0  َ قَالَ النَّبِيُّ ص إِنِّي أَتَعَجَّبُ مِمَّن...   hau
1  Filmen forteller historien om Will Hunting  en...   nob
2  An Arthrostylidium berryi in uska species han ...   wln
3  Kancunarí enemigosniyquichejta munacuychej  al...   quh
4  Warmeqa ama yachachichunchu hermanospa tantaku...   quh

                                                Text
0  قال النبي ص إني أتعجب ممن يضرب امرأته و هو بال...
1  filmen forteller historien om will hunting en ...
2  an arthrostylidium berryi in uska species han ...
3  kancunarí enemigosniyquichejta munacuychej all...
4  warmeqa ama yachachichunchu hermanospa tantaku...

In [4]:
df

                                                     Text Label
0       قال النبي ص إني أتعجب ممن يضرب امرأته و هو بال...   hau
1       filmen forteller historien om will hunting en ...   nob
2       an arthrostylidium berryi in uska species han ...   wln
3       kancunarí enemigosniyquichejta munacuychej all...   quh
4       warmeqa ama yachachichunchu hermanospa tantaku...   quh
...                                                   ...   ...
189960         publié par masken à 2246 aucun commentaire   hat
189961  ειπεν δε προς τους μαθητας ελευσονται ημεραι ο...   grc
189962  ya bay boch banen ni kug rungaged ni ga be yog...   yap
189963  palimentase nun absuerben el sangre sinón que ...   ast
189964  digau ala e hai hegau donu hagalee tale gi nia...   kpg

[189965 rows x 2 columns]

In [5]:
print(df.isnull().sum())

Text     0
Label    0
dtype: int64

In [ ]:
df_cleaned = pd.read_csv('data/train_submission_cleaned.csv')