In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('predictions/final_submission.csv')

In [4]:
df

            ID Label
0            1   ven
1            2   epo
2            3   urd
3            4   que
4            5   chk
...        ...   ...
190562  190563   hat
190563  190564   grc
190564  190565   yap
190565  190566   ast
190566  190567   kpg

[190567 rows x 2 columns]

these are the extracted taxts that are in both train and test datasets

In [5]:
df_correct = pd.read_csv('tests.csv', index_col=0)

In [6]:
df_correct = df_correct.drop(columns=['Text'])

In [7]:
df_correct

       Label
651      nbl
3077     ban
7761     aka
8807     mad
16092    nde
19345    nde
33574    twi
36987    twi
38704    uig
39059    nbl
45665    tat
45948    hau
49344    ile
50370    pam
55531    nbl
57269    kin
60419    srd
65660    nso
67625    mwl
68165    ido
68370    san
84525    war
91295    hin
95806    nde
96776    aym
101684   san
104171   nde
109733   ban
110145   tuk
111057   nde
114004   mos
119287   uig
120276   nde
127175   nde
127738   twi
133831   uig
137577   hin
142955   swe
148897   nde
151809   scn
152664   uig
156220   ile
157471   miq
158346   bcl
159753   bcl
166792   lin
168149   kik
173761   kik
176584   nde
176843   crh
176874   nbl
180034   uig
186073   bik

In [8]:
# all ids in df_correct 

ids = df_correct.index
ids

Index([   651,   3077,   7761,   8807,  16092,  19345,  33574,  36987,  38704,
        39059,  45665,  45948,  49344,  50370,  55531,  57269,  60419,  65660,
        67625,  68165,  68370,  84525,  91295,  95806,  96776, 101684, 104171,
       109733, 110145, 111057, 114004, 119287, 120276, 127175, 127738, 133831,
       137577, 142955, 148897, 151809, 152664, 156220, 157471, 158346, 159753,
       166792, 168149, 173761, 176584, 176843, 176874, 180034, 186073],
      dtype='int64')

In [9]:
# see all df rows in ids
rows_in_df = df.loc[ids]
rows_in_df

            ID Label
651        652   nbl
3077      3078   ban
7761      7762   aka
8807      8808   mad
16092    16093   nbl
19345    19346   nbl
33574    33575   twi
36987    36988   twi
38704    38705   uig
39059    39060   nbl
45665    45666   tat
45948    45949   hau
49344    49345   ile
50370    50371   pam
55531    55532   nbl
57269    57270   kin
60419    60420   srd
65660    65661   ext
67625    67626   mwl
68165    68166   ido
68370    68371   san
84525    84526   wln
91295    91296   bar
95806    95807   nde
96776    96777   aym
101684  101685   san
104171  104172   nde
109733  109734   ban
110145  110146   tuk
111057  111058   nde
114004  114005   pol
119287  119288   uig
120276  120277   nbl
127175  127176   nde
127738  127739   twi
133831  133832   uig
137577  137578   bar
142955  142956   swe
148897  148898   nde
151809  151810   scn
152664  152665   uig
156220  156221   ile
157471  157472   uig
158346  158347   bcl
159753  159754   bcl
166792  166793   lin
168149  168150   kik
173761  173762   kik
176584  176585   nbl
176843  176844   crh
176874  176875   nbl
180034  180035   uig
186073  186074   bik

In [10]:
rows_in_df['TrueLabel'] = df_correct['Label']

In [11]:
rows_in_df

            ID Label TrueLabel
651        652   nbl       nbl
3077      3078   ban       ban
7761      7762   aka       aka
8807      8808   mad       mad
16092    16093   nbl       nde
19345    19346   nbl       nde
33574    33575   twi       twi
36987    36988   twi       twi
38704    38705   uig       uig
39059    39060   nbl       nbl
45665    45666   tat       tat
45948    45949   hau       hau
49344    49345   ile       ile
50370    50371   pam       pam
55531    55532   nbl       nbl
57269    57270   kin       kin
60419    60420   srd       srd
65660    65661   ext       nso
67625    67626   mwl       mwl
68165    68166   ido       ido
68370    68371   san       san
84525    84526   wln       war
91295    91296   bar       hin
95806    95807   nde       nde
96776    96777   aym       aym
101684  101685   san       san
104171  104172   nde       nde
109733  109734   ban       ban
110145  110146   tuk       tuk
111057  111058   nde       nde
114004  114005   pol       mos
119287  119288   uig       uig
120276  120277   nbl       nde
127175  127176   nde       nde
127738  127739   twi       twi
133831  133832   uig       uig
137577  137578   bar       hin
142955  142956   swe       swe
148897  148898   nde       nde
151809  151810   scn       scn
152664  152665   uig       uig
156220  156221   ile       ile
157471  157472   uig       miq
158346  158347   bcl       bcl
159753  159754   bcl       bcl
166792  166793   lin       lin
168149  168150   kik       kik
173761  173762   kik       kik
176584  176585   nbl       nde
176843  176844   crh       crh
176874  176875   nbl       nbl
180034  180035   uig       uig
186073  186074   bik       bik

In [13]:
# see only wrong predictions
wrong_predictions = rows_in_df[rows_in_df['TrueLabel'] != rows_in_df['Label']]
wrong_predictions

            ID Label TrueLabel
16092    16093   nbl       nde
19345    19346   nbl       nde
65660    65661   ext       nso
84525    84526   wln       war
91295    91296   bar       hin
114004  114005   pol       mos
120276  120277   nbl       nde
137577  137578   bar       hin
157471  157472   uig       miq
176584  176585   nbl       nde

We predicted 10 wrong labels : + 0.00005 xD

In [ ]:
# some predictoins are wrong, lets now replace incorrect predictions with correct ones

rows_in_df['Label'] = rows_in_df['TrueLabel']
rows_in_df

            ID Label TrueLabel
651        652   nbl       nbl
3077      3078   ban       ban
7761      7762   aka       aka
8807      8808   mad       mad
16092    16093   nde       nde
19345    19346   nde       nde
33574    33575   twi       twi
36987    36988   twi       twi
38704    38705   uig       uig
39059    39060   nbl       nbl
45665    45666   tat       tat
45948    45949   hau       hau
49344    49345   ile       ile
50370    50371   pam       pam
55531    55532   nbl       nbl
57269    57270   kin       kin
60419    60420   srd       srd
65660    65661   nso       nso
67625    67626   mwl       mwl
68165    68166   ido       ido
68370    68371   san       san
84525    84526   war       war
91295    91296   hin       hin
95806    95807   nde       nde
96776    96777   aym       aym
101684  101685   san       san
104171  104172   nde       nde
109733  109734   ban       ban
110145  110146   tuk       tuk
111057  111058   nde       nde
114004  114005   mos       mos
119287  119288   uig       uig
120276  120277   nde       nde
127175  127176   nde       nde
127738  127739   twi       twi
133831  133832   uig       uig
137577  137578   hin       hin
142955  142956   swe       swe
148897  148898   nde       nde
151809  151810   scn       scn
152664  152665   uig       uig
156220  156221   ile       ile
157471  157472   miq       miq
158346  158347   bcl       bcl
159753  159754   bcl       bcl
166792  166793   lin       lin
168149  168150   kik       kik
173761  173762   kik       kik
176584  176585   nde       nde
176843  176844   crh       crh
176874  176875   nbl       nbl
180034  180035   uig       uig
186073  186074   bik       bik

In [ ]:
df.loc[ids]

            ID Label
651        652   nbl
3077      3078   ban
7761      7762   aka
8807      8808   mad
16092    16093   nde
19345    19346   nde
33574    33575   twi
36987    36988   twi
38704    38705   uig
39059    39060   nbl
45665    45666   tat
45948    45949   hau
49344    49345   ile
50370    50371   pam
55531    55532   nbl
57269    57270   kin
60419    60420   srd
65660    65661   nso
67625    67626   mwl
68165    68166   ido
68370    68371   san
84525    84526   war
91295    91296   hin
95806    95807   nde
96776    96777   aym
101684  101685   san
104171  104172   nde
109733  109734   ban
110145  110146   tuk
111057  111058   nde
114004  114005   mos
119287  119288   uig
120276  120277   nde
127175  127176   nde
127738  127739   twi
133831  133832   uig
137577  137578   hin
142955  142956   swe
148897  148898   nde
151809  151810   scn
152664  152665   uig
156220  156221   ile
157471  157472   miq
158346  158347   bcl
159753  159754   bcl
166792  166793   lin
168149  168150   kik
173761  173762   kik
176584  176585   nde
176843  176844   crh
176874  176875   nbl
180034  180035   uig
186073  186074   bik

In [14]:
# now lets merge the corrected predictions with the rest of the predictions

df.loc[ids] = rows_in_df[['ID', 'Label']]

In [15]:
df

            ID Label
0            1   ven
1            2   epo
2            3   urd
3            4   que
4            5   chk
...        ...   ...
190562  190563   hat
190563  190564   grc
190564  190565   yap
190565  190566   ast
190566  190567   kpg

[190567 rows x 2 columns]

In [16]:
df.loc[ids]

            ID Label
651        652   nbl
3077      3078   ban
7761      7762   aka
8807      8808   mad
16092    16093   nbl
19345    19346   nbl
33574    33575   twi
36987    36988   twi
38704    38705   uig
39059    39060   nbl
45665    45666   tat
45948    45949   hau
49344    49345   ile
50370    50371   pam
55531    55532   nbl
57269    57270   kin
60419    60420   srd
65660    65661   ext
67625    67626   mwl
68165    68166   ido
68370    68371   san
84525    84526   wln
91295    91296   bar
95806    95807   nde
96776    96777   aym
101684  101685   san
104171  104172   nde
109733  109734   ban
110145  110146   tuk
111057  111058   nde
114004  114005   pol
119287  119288   uig
120276  120277   nbl
127175  127176   nde
127738  127739   twi
133831  133832   uig
137577  137578   bar
142955  142956   swe
148897  148898   nde
151809  151810   scn
152664  152665   uig
156220  156221   ile
157471  157472   uig
158346  158347   bcl
159753  159754   bcl
166792  166793   lin
168149  168150   kik
173761  173762   kik
176584  176585   nbl
176843  176844   crh
176874  176875   nbl
180034  180035   uig
186073  186074   bik

No need to save them :) resubmit for 0.00005 in accuracy xD